
<div id="content" class="fullWidth"> 
    <div class="contentSection greySection clearfix">
	
			<h2 class="heading">Розвиток <span class="red">Громади</span></h2>
			<div class="descr">
				<p align="justify">Волонтерська ліга - це важлива ланка нашого благодійного фонду спрямована на надання допомоги особам, що перебувають у складних життєвих обставинах та потребують сторонньої допомоги. Кожний з нас є частинкою одного механізму який працює на благо усього суспільства. Наш колектив налічує понад 30 молодих людей котрі не байдужі до проблем інших.</p>
                                
			</div>
	
	</div>
<div class="contentSection services whiteSection clearfix">
		<!-- <div class="arrow-gray"></div> -->
		<div class="descr clearfix">
			<h2 class="heading">Місія та<span class="red"> ціль</span></h2>
			<div class="clear"></div>
			<div class="serv_sec"> 
				<img src="images/about/aim.png" alt=""> 
				<span>Місія</span>
				<p>Надання соціальних послуг та допомоги громадянам, які перебувають у складних життєвих обставинах.</p>
			</div>
			<div class="serv_sec"> 
				<img src="images/about/aim.png" alt=""> 
				<span>Ціль</span>
				<p>Стоврити колектив однодумців і просто хороших лдей готових допомагати.</p>
			</div>
			<div class="serv_sec"> 
				 <img src="images/about/aim.png" alt=""> 
				 <span>Цінності</span>
				 <p>Для нас вони такі ж як і у всіх:  добро, справедливість, патріотизм, любов та дружба.</p>
			</div>
		</div>
</div>

<div class="contentSection greySection clearfix">
	<div class="descr">
			<!-- <div class="arrow-white"></div> -->
			<h2 class="heading">Волонтерські<span class="red"> Принципи</span></h2>
			<div class="descr">
				<p align="justify">
					<ul>
					<li>визнання права на закріплення за всіма чоловіками, жінками та дітьми, незалежно від їхньої раси, віросповідання, фізичних особливостей, відповідного соціального та матеріального становища;</li><br>

					<li>поважання гідності й культури всіх людей;
					надання допомоги, безкоштовних послуг особисто чи організовано в дусі партнерства та братерства;</li><br>

					<li>визнання рівної важливості особистих і колективних потреб, сприяння їх забезпеченню;</li><br>

					<li>перетворення волонтерства на елемент набуття нових знань і навичок, удосконалення здібностей, стимулюючи при цьому ініціативу та творчість людей, надаючи кожному можливість бути творцем, а не користувачем, спостерігачем.</li>
                </ul>
                </p>
			</div>
	</div>
</div>

<div class="contentSection whiteSection clearfix">
	<div class="descr">
		
			<!-- <div class="arrow-gray"></div> -->
			
            <h2 class="heading">Волонтерські<span class="red"> Напрями</span></h2>
			<div class="descr">
				<p align="justify">
					<ul>
						<li>надання соціальних послуг громадянам, які перебувають у складних життєвих обставинах (інвалідність, часткова втрата рухової активності у зв'язку зі старістю чи станом здоров'я, відсутність житла або роботи, наслідки стихійного лиха, катастроф тощо</li><br>

						<li>надання соціальних послуг дітям та молоді, що перебувають у складній життєвій ситуації у зв'язку з інвалідністю, хворобою, сирітством, безпритульністю, малозабезпеченістю, конфліктами і жорстоким ставленням у сім'ї.</li>
					</ul></p>

			</div>
	
	</div>
</div>



<div class="contentSection greySection clearfix">
	<div class="descr">
		
			<!-- <div class="arrow-white"></div> -->
			<h2 class="heading">Волонтерські<span class="red"> Засади</span></h2>
			<div class="descr">
				<p align="justify">
<ul>
<li>добровільність і доброчинність</li><br>
	<li>Законність</li><br>
	<li>Гуманність і гідність</li><br>
	<li>Спільність інтересів і рівність прав її учасників</li><br>
	<li>Гласність</li><br>
	<li>Відповідальність</li><br>
	<li>Конфіденційність</li><br>
</ul>
	</p>
			</div>
	
	</div>
</div>

<!--1111 -->
<div class="contentSection team whiteSection clearfix">
	<div class="descr">
		
		<!-- <div class="arrow-gray"></div> -->
		<h2 class="heading">Наші<span class="red"> Благодійники</span></h2>
		<!-- <div class="descr clearfix">
			<div class="team_sec"> <img src="images/about/han.jpg" alt=""> <span class="name">Хан Соло</span></div>
			<div class="team_sec"> <img src="images/about/luke.jpg" alt=""> <span class="name">Люк Скайвокер</span> </div>
			<div class="team_sec"> <img src="images/about/Zje4IJG2yjA.jpg" alt=""> <span class="name">Лея Органо</span> </div>
		</div> -->
	<section>
        <div class="container-fluid">
            <div class="row row-centered">
                <div class="col-md-4 team-member text-center" ng-repeat="member in team track by $index">
                        <img ng-show="member.image_url" ng-src="{{member.image_url}}" class="img-responsive img-circle">
                        <img ng-hide="member.image_url"  ng-src="images/placeholder.png" class="img-responsive img-circle">
                        <h4>{{member.name}}</h4>
                        <p class="text-muted text-center">{{member.status}}</p><a href="" class="btn btn-danger" ng-click="deleteMember(member)">Видалити</a>
                </div>
            </div>
        </div>
    </section>
	</div>
</div>
<div class="contentSection greySection clearfix">
	<div class="descr">
		
			<!-- <div class="arrow-white"></div> -->
			<h2 class="heading">Друзі та <span class="red">партнери</span></h2>
			<div class="descr">
				<p align="justify">Наші надійні партнери й однодумці.</p>		
                          <ul>
                                <li>«Вголос» — інформаційне агентство. Щодня на сайті постійно з’являються свіжі новини України, світу, а також – Львова, Львівщини, Волині, Закарпаття, Рівненщини, Франківщини, Тернопільщини. Тут ви зможете знайти корисну і цікаву для себе інформацію про події в політиці, економіці, спорті, культурі та загалом у житті львів’ян і не тільки. У блогах можна почитати цікаві думки наших читачів та дописувачів.</li><br>
 <li>НТА - незалежне телевізійне агенство. </li>    
                          </ul>

			</div>
	
	</div>
</div>
    </div>