<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span></button>
    <h4 class="modal-title">Ріжемо фото</h4>
</div>
<div class="modal-body">
    
        <h3>Зарізати:</h3>
          
      <button class="btn btn-success" ng-click="preview()">Show preview</button>
      <button ng-click="scale(200)">Scale to 200px width</button>
      <button ng-click="clear()">Clear selection</button>
      <button ng-click="sendFile(preview.dataUrl)">Send file</button>
      <label>Disabled <input type="checkbox" ng-model="options.disabled"></label>

      <br />

      <div ng-if="dataUrl" class="img-container">
        <img ng-if="dataUrl" ng-src="{{dataUrl}}" width="800"
             ng-cropper
             ng-cropper-proxy="cropperProxy"
             ng-cropper-show="showEvent"
             ng-cropper-hide="hideEvent"
             ng-cropper-options="options">
      </div>

      <div class="preview-container">
        <img ng-if="preview.dataUrl" ng-src="{{preview.dataUrl}}" style="max-width: 100%;">
      </div>



    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Закрити</button>
</div>