<div class="panel-container">
	<h3>Створити статтю:</h3>

	<form name="editarticle" ng-submit="editArticle()">
		<div class="team-member" style="width: 250px; margin: 0 auto;">
			<img ng-show="lastSendedimage" ng-src="{{lastSendedimage}}" ng-click="setArticleImage()" class="img-responsive img-circle ng-hideimg-responsive img-circle ng-hide">
			<img ng-hide="lastSendedimage"  ng-src="images/placeholder.png" ng-click="setArticleImage()" class="img-responsive img-circle ng-hide">
			<input type="file" name="mainimage" id="image" onchange="angular.element(this).scope().onFile(this.files[0])">
		</div>
		
		<input type="text" class="form-control" ng-model="article.title" placeholder="Заголовок">
		<textarea class="form-control" ng-model="article.spec" placeholder="Короткий опис"></textarea>
		<input class="form-control" type="text" ng-model="article.date" placeholder="Дата">
		<summernote config="options" ng-model="article.text" id="summernote" on-image-upload="imageUpload(files)" on-paste="paste()"></summernote>
		<input type="submit" id="submit" value="Зберегти" class="btn btn-success">
	</form>

</div>