
<div class="article-container">
<div class="container-fluid">
	<div class="row">
		<div class="article-header">
			<div class="article-main-image col-md-3">
				<img ng-show="article.image_url" ng-src="{{article.image_url}}" ng-click="setMainImage(article)">
				<img ng-hide="article.image_url"  ng-src="images/placeholder.png" ng-click="setMainImage(article)">
			</div>
			<input type="file" name="mainimage" id="mainimage">
			<div class="article-title col-md-9">
				<h2>{{article.title}}</h2>
				<h4 class="article-date">Опубліковано: {{article.date}}</h4>
			</div>
		</div>
	</div>

</div>
<div class="article-text"></div>
</div>